@page "/"

<PageTitle>BlazorFastSpoiler Demo</PageTitle>

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1>BlazorFastSpoiler</h1>
            <p class="lead">Modern Blazor component for creating spoiler text with particle effects</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h2>Basic Usage</h2>
            <p>Click on the spoiler text below to reveal it:</p>
            <p>
                The answer to the ultimate question of life, the universe, and everything is 
                <BlazorFastSpoiler>42</BlazorFastSpoiler>.
            </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h2>Custom Parameters</h2>
            <p>Here are examples with different configurations:</p>
            
            <h3>High Density</h3>
            <p>
                This spoiler has higher particle density: 
                <BlazorFastSpoiler Density="16.0">Secret message with more particles!</BlazorFastSpoiler>
            </p>

            <h3>Faster Particles</h3>
            <p>
                This spoiler has faster-moving particles: 
                <BlazorFastSpoiler MinVelocity="0.05" MaxVelocity="0.15">Fast moving particles!</BlazorFastSpoiler>
            </p>

            <h3>Longer Reveal Animation</h3>
            <p>
                This spoiler has a longer fade-in duration: 
                <BlazorFastSpoiler RevealDuration="1000">Slow reveal animation</BlazorFastSpoiler>
            </p>

            <h3>Scaled Particles</h3>
            <p>
                This spoiler has larger particles: 
                <BlazorFastSpoiler Scale="2.0">Bigger particles!</BlazorFastSpoiler>
            </p>

            <h3>Lower FPS</h3>
            <p>
                This spoiler runs at 30 FPS for better performance: 
                <BlazorFastSpoiler Fps="30">Optimized for slower devices</BlazorFastSpoiler>
            </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h2>Multiple Spoilers</h2>
            <p>
                You can have multiple spoilers in the same paragraph: 
                <BlazorFastSpoiler>First spoiler</BlazorFastSpoiler>, 
                <BlazorFastSpoiler>Second spoiler</BlazorFastSpoiler>, and 
                <BlazorFastSpoiler>Third spoiler</BlazorFastSpoiler>.
            </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h2>Rich Content</h2>
            <p>
                Spoilers can contain rich content: 
                <BlazorFastSpoiler>
                    <strong>Bold text</strong> and <em>italic text</em> work too!
                </BlazorFastSpoiler>
            </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h2>Accessibility</h2>
            <p>
                The component is keyboard accessible. Press <kbd>Enter</kbd> or <kbd>Space</kbd> to reveal: 
                <BlazorFastSpoiler>Keyboard accessible spoiler</BlazorFastSpoiler>
            </p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h2>Code Example</h2>
            <pre><code>&lt;BlazorFastSpoiler 
    Scale="1.5"
    Density="12.0"
    RevealDuration="500"&gt;
    Your spoiler text here
&lt;/BlazorFastSpoiler&gt;</code></pre>
        </div>
    </div>
</div>
